/*
  ----------------------------------------
  Reset & Basic styles
  ----------------------------------------
*/
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #ecf0f1;
    font: 16px 'Open Sans', Arial, sans-serif;
    font-weight: 300;
}
.container {
    width: 800px;
    margin: 0 auto;
}

/*
  ----------------------------------------
  Header
  ----------------------------------------
*/
.main-header {
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 25px;
}
h1,
h2 {
    font-weight: 300;
}
h2 {
    font-size: 16px;
}

/*
  ----------------------------------------
  Cat View
  ----------------------------------------
*/
.cat-view {
    width: 600px;
    max-height: 458px;
    overflow: hidden;
    text-align: center;
    float: right;
}
.cat-view p {
    width: 100%;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    padding: 10px 0;
    margin-bottom: 10px;
    position: relative;
}
.cat-view img {
    width: 100%;
}
.cat-view .cat-count {
    margin-right: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.cat-view .cat-count:after {
    content: '♥';
    color: #e74c3c;
    padding: 0 5px;
}

/*
  ----------------------------------------
  Cat List
  ----------------------------------------
*/
.cat-list {
    width: 180px;
    float: left;
}
.cat-list ul {
    list-style: none;
}
.cat-list ul li {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 4px;
}
.cat-list ul li.selected,
.cat-list ul li:hover {
    background: #7f8c8d;
    color: #ecf0f1;
    cursor: pointer;
    font-weight: 400;
}

/*
  ----------------------------------------
  Admin
  ----------------------------------------
*/
.btn {
    width: 100px;
    padding: 11px;
    border-radius: 4px;
    margin-bottom: 12px;
    background: #2c3e50;
    color: #ecf0f1;
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    display: inline-block;
}
.btn:hover {
    background: #34495e;
}
.btn-large {
    width: 100%;
    background: none;
    text-align: left;
    color: inherit;
    font-weight: inherit;
    border: 1px solid #ecf0f1;
}
.btn-large:hover {
    background: none;
    border: 1px solid #ccc;
}

.admin-form {
    float: right;
    width: 600px;
    display: none;
}
.admin-form input {
    padding: 11px;
    width: 180px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
}
.show {
    display: block;
}